@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-fundo: rgb(55, 55, 55);
    --color-white: #fff;
    --color-ancora: #b040ff;
    --color-dark1: #272727;
    --color-dark2: #2d2d2d;
    --color-dark3: #414141;
    --color-dark4: #1c1c1c;
    --color-dark5: #343434;
    --color-black: #000
}

body {
    background-color: var(--color-black);
    margin-left: 0;
    margin-right: 0;
}

h1 {
    color: gainsboro;
    font-family: "Bebas Neue", sans-serif;
}

h2 {
    color: gainsboro;
    font-family: "Bebas Neue", sans-serif;
}

h3 {
    color: gainsboro;
}

p {
    color: rgb(239, 233, 233)
}

.text {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 70px;
}

.img_personagens {
    max-width: 90%;
    padding-left: 5%;
    padding-bottom: 5%;
    align-items: center;
}

.div-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.div-card {
    padding-top: 30px;
    width: 30vw;
    min-width: 280px;
    align-items: center;
    border: 10px solid gray;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.div-card2 {
    padding-top: 3px;
    width: 35%;
    min-width: 280px;
    border: 10px solid gray;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.div_par {
    margin-top: 8px;
    border: 3px solid;
    border-radius: 7px;
    padding: 10px;
    border-color: rgb(20, 20, 20);
    background-color: rgb(55, 55, 55);
    align-items: center;
    line-height: 20px;
}

.div_par_card {
    border: 3px solid;
    border-radius: 7px;
    margin: 12px 8px 8px;
    padding: 8px;
    border-color: rgb(20, 20, 20);
    background-color: rgb(55, 55, 55);
    text-indent: 15px;
    text-align: justify;
    line-height: 17px;
}

.div-card-index {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    min-width: 250px;
    border: 10px solid gray;
    border-radius: 8px;
    align-items: center;
    padding: 7px;
    line-height: 22px;
    margin-bottom: 20px;
}

.div-card_index {
    width: 10%;
    min-width: 220px;
    border: 10px solid #808080;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 13px;
    background-color: rgb(45, 47, 46);
    margin-bottom: 20px;
}

#h2_index {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
}

.div-card_index a {
    color: rgb(11, 170, 190);
}

.div-opções {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 40px;
}

.div_par_card_index {
    border: 3px solid;
    border-radius: 7px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 8px;
    border-color: rgb(20, 20, 20);
    background-color: rgb(55, 55, 55);
    text-indent: 15px;
    text-align: justify;
    line-height: 17px;
}

.div-card-contato {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    min-width: 250px;
    align-items: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    gap: 10px;
}

.div-card_contato {
    width: 20%;
    min-width: 220px;
    align-items: center;
}

.img_contato {
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    min-width: 184px;
    border: 8px solid;
    border-color: var(--color-dark1);
}

.infor {
    color: rgb(0, 0, 0);
    font-family: "Bebas Neue", sans-serif;
}

.parag_index {
    color: #373737;
}

.img_html {
    width: 40%;
    height: 50%;
    min-width: 30%;
    min-width: 40%;
    margin-top: 20px;
    margin-bottom: 30px;
}

.img_all {
    max-width: 90%;
    height: auto;
}

.par_tit {
    font-family: "Bebas Neue", sans-serif;
    color: rgb(194, 187, 187)
}

.link_index {
    text-decoration: none;
    color: white;
    padding-top: 14px;
    font-family: "Bebas Neue", sans-serif;
}
.parag_index {
    color: #373737;
}

.resp {
    text-decoration: none;
    color: red;
    transition: 1s;
    font-weight: bold;
}

.resp:hover {
    color: var(--color-white);
}

.bold {
    font-family: "Bebas Neue", sans-serif;
    color: rgb(194, 187, 187)
}

.bold_resp{
    font-family: "Bebas Neue", sans-serif;
}
